@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap");

/* global */
/* box sizing */
* {
  box-sizing: border-box;
}
:root {
  --blue: blue;
  --lightblue: rgb(197, 222, 248);
  --gray: gray;
}
body {
  color: black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

/* paragraphs */
p {
  margin: 0;
  line-height: 1.6;
}

/* links */
a {
  color: var(--blue);
}
a:hover,
a:focus {
  color: magenta;
  outline: none;
}

a:focus-visible {
  background-color: beige;
}

/* images */
img {
  max-width: 100%;
}

/* buttons */
button {
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  padding: 12px 18px;
  border-radius: 10px;
  border: solid 2px var(--blue);
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: min(100%-48px, 70rem);
  margin-inline: auto;
}

/*-------------header---------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-block: 20px;
  border: solid blue 1px;
}

#logo {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

nav ul,
footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0px;
  gap: 20px;
  align-items: center;
}

/* --------banner--------- */
#banner {
  text-align: center;
  padding: 140px;
  background-color: var(--lightblue);
}
a {
  text-decoration: none;
}

#signup_learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  padding: 12px 18px;
  border-radius: 10px;
  border: solid 2px var(--blue);
  font-family: inherit;
  font-size: inherit;
}

/* services ------------------- */

#services {
  padding-block: 70px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services-card {
  border: solid 1px var(--gray);
  border-radius: 20px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  flex-basis: calc(33% - 20px);
  flex-grow: 1;
}

.services-card i {
  font-size: 30px;
}

#services h2 {
  flex-basis: 100%;
  text-align: center;
}

i {
  color: blue;
  font-size: 3em;
}
a {
  color: blue;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: rgb(242, 236, 242);
  font-weight: bold;
  flex-basis: 100%;
}
