span {
  color: red;
}

h1 {
  background-color: purple;
}
h6 {
  background-color: yellow;
}
h6 {
  color: blue;
}
ul {
  color: red;
}
ol {
  color: orange;
}
a {
  color: blue;
}
a {
  background-color: green;
}
button {
  background-color: orange;
}
p {
  color: blue;
}
span {
  color: red;
}
